<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
</head>
<body>
    <header><a href="admin/">Pagina administrativa</a></header>
    <h2>Listagem</h2>
    <ul>
    {% for transacaokk in transacoes %}
       <li>{{transacaokk.descricao}} - {{transacaokk.data}} - R${{transacaokk.valor}} - {{ transacaokk.categoria }} <button><a href="{% url 'url_update' transacaokk.id %}" style="text-decoration:none">Editar</a></button><button><a href="{% url 'url_delete' transacaokk.id %}" style="text-decoration:none">Deletar</a></button></li>
    {% endfor %}
    <button><a href="{% url 'url_create' %}" style="text-decoration:none">Novo</a></button>
    </ul>
    
</body>
</html>